<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spesialiskp.perpustakaan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.ScanBarcode4Activity"
            android:configChanges="orientation"
            android:label="Scan QR Transaksi"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"/>
        <activity
            android:name=".Activity.AnggotaDetailActivity"
            android:label="Detail Anggota"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".Activity.AnggotaActivity"/>
        <activity
            android:name=".Activity.ScanBarcode3Activity"
            android:configChanges="orientation"
            android:label="Scan QR Transaksi"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Activity.ScanBarcode2Activity"
            android:configChanges="orientation"
            android:label="Scan QR Transaksi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PengembalianActivity"
            android:configChanges="orientation"
            android:label="Pengembalian"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TransaksiDetailActivity"
            android:configChanges="orientation"
            android:label="Detail Peminjaman"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BukuDetailActivity"
            android:configChanges="orientation"
            android:label="Detail Buku"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TransaksiActivity"
            android:configChanges="orientation"
            android:label="Riwayat Transaksi"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ScanBarcodeActivity"
            android:configChanges="orientation"
            android:label="Scan Barcode"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Activity.PerpanjangActivity"
            android:configChanges="orientation"
            android:label="Perpanjang"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Activity.PeminjamanActivity"
            android:configChanges="orientation"
            android:label="Form Peminjaman"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TambahBukuActivity"
            android:configChanges="orientation"
            android:label="Form Tambah Buku"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UbahAnggotaActivity"
            android:configChanges="orientation"
            android:label="Ubah Data Anggota"
            android:parentActivityName=".Activity.AnggotaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TambahAnggotaActivity"
            android:configChanges="orientation"
            android:label="Tambah Anggota"
            android:parentActivityName=".Activity.AnggotaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AnggotaActivity"
            android:configChanges="orientation"
            android:label="Anggota"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UbahPetugasActivity"
            android:configChanges="orientation"
            android:label="Ubah Data Petugas"
            android:parentActivityName=".Activity.PetugasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TambahPetugasActivity"
            android:configChanges="orientation"
            android:label="Tambah Petugas"
            android:parentActivityName=".Activity.PetugasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PetugasActivity"
            android:configChanges="orientation"
            android:label="Petugas"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>